<?xml version="1.0"?>
<!--
/**
 * Ho_BootstrapAjaxCart
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Ho
 * @package     Ho_BootstrapAjaxCart
 * @copyright   Copyright © 2014 H&O (http://www.h-o.nl/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author      Paul Hachmang – H&O <info@h-o.nl>
 */
-->

<config>
	<modules>
		<Ho_BootstrapAjaxCart>
			<version>0.1.0</version>
		</Ho_BootstrapAjaxCart>
	</modules>
    <global>
        <blocks>
            <ho_bootstrapajaxcart>
                <class>Ho_BootstrapAjaxCart_Block</class>
            </ho_bootstrapajaxcart>
        </blocks>
        <helpers>
            <ho_bootstrapajaxcart>
                <class>Ho_BootstrapAjaxCart_Helper</class>
            </ho_bootstrapajaxcart>
        </helpers>
        <models>
            <ho_bootstrapajaxcart>
                <class>Ho_BootstrapAjaxCart_Model</class>
                <resourceModel>ho_bootstrapajaxcart_resource</resourceModel>
            </ho_bootstrapajaxcart>
            <ho_bootstrapajaxcart_resource>
                <class>Ho_BootstrapAjaxCart_Model_Resource</class>
                <!--<entities>-->
                    <!--<tablename>-->
                        <!--<table>ho_bootstrapajaxcart_tablename</table>-->
                    <!--</tablename>-->
                <!--</entities>-->
            </ho_bootstrapajaxcart_resource>
            <enterprise_pagecache>
                <rewrite>
                    <observer>Ho_BootstrapAjaxCart_Model_PageCacheObserver</observer>
                </rewrite>
            </enterprise_pagecache>
        </models>
        <resources>
            <ho_bootstrapajaxcart_setup>
                <setup>
                    <module>Ho_BootstrapAjaxCart</module>
                    <!--<class>Ho_BootstrapAjaxCart_Model_Resource_Setup</class>-->
                </setup>
            </ho_bootstrapajaxcart_setup>
        </resources>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <ho_ajax>
                        <type>singleton</type>
                        <class>ho_bootstrapajaxcart/observer</class>
                        <method>addHandles</method>
                    </ho_ajax>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_layout_render_before>
                <observers>
                    <ho_ajax>
                        <type>singleton</type>
                        <class>ho_bootstrapajaxcart/observer</class>
                        <method>getJson</method>
                    </ho_ajax>
                </observers>
            </controller_action_layout_render_before>
            <controller_response_redirect>
                <observers>
                    <ho_ajax>
                        <type>singleton</type>
                        <class>ho_bootstrapajaxcart/observer</class>
                        <method>handleRedirect</method>
                    </ho_ajax>
                </observers>
            </controller_response_redirect>
            <controller_front_init_before>
                <observers>
                    <xx_ho_ajax>
                        <type>singleton</type>
                        <class>ho_bootstrapajaxcart/observer</class>
                        <method>disableEsiIncludesWhenHoAjax</method>
                    </xx_ho_ajax>
                </observers>
            </controller_front_init_before>
            <core_session_abstract_add_message>
                <observers>
                    <ho_ajax_intercept_add_message>
                        <type>singleton</type>
                        <class>ho_bootstrapajaxcart/observer</class>
                        <method>addSessionMessage</method>
                    </ho_ajax_intercept_add_message>
                </observers>
            </core_session_abstract_add_message>
        </events>
        <layout>
            <updates>
                <ho_bootstrapajaxcart module="ho_bootstrapajaxcart">
                    <file>ho/bootstrapajaxcart.xml</file>
                </ho_bootstrapajaxcart>
            </updates>
        </layout>
        <!--<events>-->
            <!--<http_response_send_before>-->
                <!--<observers>-->
                    <!--<ho_bootstrapajaxcart_head_observer>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Ho_BootstrapAjaxCart_Model_Observer</class>-->
                        <!--<method>check</method>-->
                    <!--</ho_bootstrapajaxcart_head_observer>-->
                <!--</observers>-->
            <!--</http_response_send_before>-->
        <!--</events>-->
    </global>
	<frontend>
        <layout>
            <updates>
                <ho_bootstrapajaxcart module="ho_bootstrapajaxcart">
                    <file>ho/bootstrapajaxcart.xml</file>
                </ho_bootstrapajaxcart>
            </updates>
        </layout>
		<!--<routers>-->
			<!--<ho_bootstrapajaxcart>-->
				<!--<use>standard</use>-->
				<!--<args>-->
					<!--<module>Ho_BootstrapAjaxCart</module>-->
					<!--<frontName>ho_bootstrapajaxcart</frontName>-->
				<!--</args>-->
			<!--</ho_bootstrapajaxcart>-->
		<!--</routers>-->
        <!--<translate>-->
            <!--<modules>-->
                <!--<ho_bootstrapajaxcart>-->
                    <!--<files>-->
                        <!--<default>Ho_BootstrapAjaxCart.csv</default>-->
                    <!--</files>-->
                <!--</ho_bootstrapajaxcart>-->
            <!--</modules>-->
        <!--</translate>-->
	</frontend>
    <adminhtml>
        <layout>
            <updates>
                <ho_bootstrapajaxcart module="ho_bootstrapajaxcart">
                    <file>ho/bootstrapajaxcart.xml</file>
                </ho_bootstrapajaxcart>
            </updates>
        </layout>
        <!--<translate>-->
            <!--<modules>-->
                <!--<ho_bootstrapajaxcart>-->
                    <!--<files>-->
                        <!--<default>Ho_BootstrapAjaxCart.csv</default>-->
                    <!--</files>-->
                <!--</ho_bootstrapajaxcart>-->
            <!--</modules>-->
        <!--</translate>-->
    </adminhtml>
    <admin>
        <!--<routers>-->
            <!--<adminhtml>-->
                <!--<args>-->
                    <!--<modules>-->
                        <!--<Ho_BootstrapAjaxCart before="Mage_Adminhtml">Ho_BootstrapAjaxCart_Adminhtml</Ho_BootstrapAjaxCart>-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</adminhtml>-->
        <!--</routers>-->
    </admin>
	<default>
		<!--<ho_bootstrapajaxcart>-->
			<!--<group>-->
				<!--<variable>somevar</variable>-->
			<!--</group>-->
		<!--</ho_bootstrapajaxcart>-->
	</default>
	<!--<crontab>-->
		<!--<jobs>-->
			<!--<ho_bootstrapajaxcart>-->
				<!--<schedule>-->
					<!--<cron_expr>* * * * *</cron_expr>-->
				<!--</schedule>-->
				<!--<run>-->
					<!--<model>ho_bootstrapajaxcart/observer::</model>-->
				<!--</run>-->
			<!--</ho_bootstrapajaxcart>-->
		<!--</jobs>-->
	<!--</crontab>-->
</config>